# Datasets de películas

## Instalación de librerías

In [3]:
pip install pandas

Collecting pandas
  Downloading https://files.pythonhosted.org/packages/c3/e2/00cacecafbab071c787019f00ad84ca3185952f6bb9bca9550ed83870d4d/pandas-1.1.5-cp36-cp36m-manylinux1_x86_64.whl (9.5MB)
    100% |████████████████████████████████| 9.5MB 195kB/s eta 0:00:01
Collecting pytz>=2017.2 (from pandas)
  Downloading https://files.pythonhosted.org/packages/7f/99/ad6bd37e748257dd70d6f85d916cafe79c0b0f5e2e95b11f7fbc82bf3110/pytz-2023.3-py2.py3-none-any.whl (502kB)
    100% |████████████████████████████████| 512kB 1.9MB/s eta 0:00:01
Collecting numpy>=1.15.4 (from pandas)
  Downloading https://files.pythonhosted.org/packages/45/b2/6c7545bb7a38754d63048c7696804a0d947328125d81bf12beaa692c3ae3/numpy-1.19.5-cp36-cp36m-manylinux1_x86_64.whl (13.4MB)
    100% |████████████████████████████████| 13.4MB 132kB/s ta 0:00:011
Collecting python-dateutil>=2.7.3 (from pandas)
  Using cached https://files.pythonhosted.org/packages/36/7a/87837f39d0296e723bb9b62bbb257d0355c7f6128853c78955f57342a56d/python_dateutil-2.8.2-py2.py3-none-any.whl
Collecting six>=1.5 (from python-dateutil>=2.7.3->pandas)
  Using cached https://files.pythonhosted.org/packages/d9/5a/e7c31adbe875f2abbb91bd84cf2dc52d792b5a01506781dbcf25c91daf11/six-1.16.0-py2.py3-none-any.whl
Installing collected packages: pytz, numpy, six, python-dateutil, pandas
Successfully installed numpy-1.19.5 pandas-1.1.5 python-dateutil-2.8.2 pytz-2023.3 six-1.16.0
Note: you may need to restart the kernel to use updated packages.

In [6]:
pip install chardet

Collecting chardet
  Downloading https://files.pythonhosted.org/packages/4c/d1/1b96dd69fa42f20b70701b5cd42a75dd5f0c7a24dc0abfef35cc146210dc/chardet-5.0.0-py3-none-any.whl (193kB)
    100% |████████████████████████████████| 194kB 883kB/s ta 0:00:01
Installing collected packages: chardet
Successfully installed chardet-5.0.0
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd

## Analizando los datasets que nos han otorgado

In [9]:
import chardet

with open("data/movie_dataset.csv", "rb") as f:
    result = chardet.detect(f.read())

df1_encoding = result["encoding"]
    
print(result["encoding"])

Windows-1252

In [10]:

df1 = pd.read_csv("data/movie_dataset.csv", delimiter=';', encoding=df1_encoding)

In [11]:
import chardet
with open("data/IMDB Dataset.csv", "rb") as f:
    result = chardet.detect(f.read())

df2_encoding = result["encoding"]
    
print(result["encoding"])

utf-8

In [13]:

df2 = pd.read_csv("data/IMDB Dataset.csv", delimiter=';', encoding=df2_encoding)

In [16]:
# print df1 collumns 
df1.columns

Index(['index', 'budget', 'genres', 'homepage', 'id', 'keywords',
       'original_language', 'original_title', 'overview', 'popularity',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title',
       'vote_average', 'vote_count', 'cast', 'crew', 'director'],
      dtype='object')

## Imprimiendo columnas del dataset IMDB
Este dataset no es útil ya que no cuenta con el título de las películas, por lo tanto no existe manera de unirlo

In [17]:
df2.columns

Index(['review,sentiment', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3',
       'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6'],
      dtype='object')

In [21]:
# print df2 first row
df2.head(4)

,"review,sentiment",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,One of the other reviewers has mentioned that ...,NaN,NaN,NaN,NaN,NaN,NaN
1,A wonderful little production. <br /><br />The...,NaN,NaN,NaN,NaN,NaN,NaN
2,I thought this was a wonderful way to spend ti...,NaN,NaN,NaN,NaN,NaN,NaN
3,Basically there's a family where a little boy ...,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
# parse df1.release_date to datetime if it is not null
df1['release_date'] = pd.to_datetime(df1['release_date'], errors='coerce')

In [29]:
# print max and min release_date of df1
print(df1['release_date'].max())
print(df1['release_date'].min())

2017-03-02 00:00:00
1916-04-09 00:00:00

In [31]:
# count how many rows in the dataset with release_date after 2010
df1[df1['release_date'] > '2010-01-01'].shape[0]

1441

## Elección del dataset
Se usará data/movie_dataset con las películas que hayan sido lanzadas desde el año 2010 en adelante

In [33]:
# create a dataset of df1[df1['release_date'] > '2010-01-01'].shape[0]
df = df1[df1['release_date'] > '2010-01-01']

(1441, 24)