# Datasets de películas

## Instalación de librerías

In [24]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/galo/.local/lib/python3.10/site-packages (2.0.3)
Requirement already satisfied: numpy>=1.21.0 in /home/galo/.local/lib/python3.10/site-packages (from pandas) (1.25.0)
Requirement already satisfied: tzdata>=2022.1 in /home/galo/.local/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/galo/.local/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [25]:
pip install chardet

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: chardet in /usr/lib/python3/dist-packages (4.0.0)
Note: you may need to restart the kernel to use updated packages.

In [26]:
import pandas as pd

## Analizando los datasets que nos han otorgado

In [27]:
import chardet

In [28]:
with open("data/movie_dataset.csv", "rb") as f:
    result = chardet.detect(f.read())

df1_encoding = result["encoding"]
    
print(result["encoding"])

Windows-1252

In [29]:

df1 = pd.read_csv("data/movie_dataset.csv", delimiter=';', encoding=df1_encoding)

In [30]:
with open("data/IMDB Dataset.csv", "rb") as f:
    result = chardet.detect(f.read())

df2_encoding = result["encoding"]
    
print(result["encoding"])

utf-8

In [31]:

df2 = pd.read_csv("data/IMDB Dataset.csv", delimiter=';', encoding=df2_encoding)

In [32]:
# print df1 collumns 
df1.columns

Index(['index', 'budget', 'genres', 'homepage', 'id', 'keywords',
       'original_language', 'original_title', 'overview', 'popularity',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title',
       'vote_average', 'vote_count', 'cast', 'crew', 'director'],
      dtype='object')

## Imprimiendo columnas del dataset IMDB
Este dataset no es útil ya que no cuenta con el título de las películas, por lo tanto no existe manera de unirlo

In [33]:
df2.columns

Index(['review,sentiment', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3',
       'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6'],
      dtype='object')

In [34]:
# print df2 first row
df2.head(4)

,"review,sentiment",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,One of the other reviewers has mentioned that ...,NaN,NaN,NaN,NaN,NaN,NaN
1,A wonderful little production. <br /><br />The...,NaN,NaN,NaN,NaN,NaN,NaN
2,I thought this was a wonderful way to spend ti...,NaN,NaN,NaN,NaN,NaN,NaN
3,Basically there's a family where a little boy ...,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
# parse df1.release_date to datetime if it is not null
df1['release_date'] = pd.to_datetime(df1['release_date'], errors='coerce')

In [36]:
# print max and min release_date of df1
print(df1['release_date'].max())
print(df1['release_date'].min())

2017-03-02 00:00:00
1916-04-09 00:00:00

In [37]:
# count how many rows in the dataset with release_date after 2010
df1[df1['release_date'] > '2010-01-01'].shape[0]

591

## Elección del dataset
Se usará data/movie_dataset con las películas que hayan sido lanzadas desde el año 2010 en adelante

In [38]:
# create a dataset of df1[df1['release_date'] > '2010-01-01'].shape[0]
df = df1[df1['release_date'] > '2010-01-01']

In [39]:
df.shape

(591, 24)

In [40]:
with open("data/TMBD.csv", "rb") as f:
    result = chardet.detect(f.read())

df3_encoding = result["encoding"]
    
print(result["encoding"])

utf-8

In [41]:
df3 = pd.read_csv("data/TMBD.csv", delimiter=',', encoding=df3_encoding)

In [42]:
df3.columns

Index(['original_title', 'overview', 'popularity', 'release_date',
       'vote_average', 'vote_count', 'budget', 'keywords',
       'production_companies'],
      dtype='object')

In [43]:
df.columns

Index(['index', 'budget', 'genres', 'homepage', 'id', 'keywords',
       'original_language', 'original_title', 'overview', 'popularity',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title',
       'vote_average', 'vote_count', 'cast', 'crew', 'director'],
      dtype='object')

In [44]:
# verify if there are any duplicate rows in df for original_title
df[df.duplicated(['original_title'])]

,index,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,director
3679,1672.0,30000000.0,Adventure Drama Action History War,http://www.1911movie.com/,76349,martial arts sword revolution blood gunfight,zh,????,"At the beginning of the 20th century, China is...",4065212,...,1250.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,Fall of the Last Empire,1911,50.0,41.0,Jackie Chan Li Bingbing Joan Chen Jaycee Chan ...,"[{'name': 'Jackie Chan', 'gender': 2, 'departm...",Jackie Chan
4014,1304.0,3860000.0,Action Drama History,NaN,44865,martial arts kung fu biography kung fu master,zh,????,Ip Man's peaceful life in Foshan changes after...,"1,99473E+16",...,1300.0,"[{""iso_639_1"": ""cn"", ""name"": ""\u5e7f\u5dde\u8b...",Released,"In Martial Arts there is no right or wrong, on...",The Grandmaster,63.0,273.0,Tony Leung Chiu-Wai Zhang Ziyi Song Hye-kyo Ch...,"[{'name': 'Wong Kar-wai', 'gender': 2, 'depart...",Wong Kar-wai
4052,2309.0,0.0,Action,NaN,244339,NaN,cn,????,"On the hottest day in 50 years, a serious fire...",1583918,...,1070.0,"[{""iso_639_1"": ""cn"", ""name"": ""\u5e7f\u5dde\u8b...",Released,NaN,Out of Inferno,58.0,11.0,Lau Ching-Wan Angelica Lee Chen Sicheng Natali...,"[{'name': 'Danny Pang', 'gender': 2, 'departme...",Danny Pang
4224,2295.0,0.0,Action Crime,NaN,244114,robbery street war gun battle rogue cop,zh,??,A crew of seasoned criminals led by the notori...,"3,37697E+16",...,1100.0,"[{""iso_639_1"": ""zh"", ""name"": ""\u666e\u901a\u8b...",Released,NaN,Firestorm,59.0,43.0,Andy Lau Gordon Lam Ka-Tung Yao Chen Hu Jun Ra...,"[{'name': 'William Kong', 'gender': 2, 'depart...",Alan Yuen
4756,3189.0,0.0,Horror Mystery,NaN,293670,sex small town exorcism investigation daughter,ko,??,A stranger arrives in a little village and soo...,"9,05029E+15",...,1560.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,Never be tempted.,The Wailing,72.0,250.0,Kwak Do-won Hwang Jung-min Chun Woo-hee Jun Ku...,"[{'name': 'Kyung-Pyo Hong', 'gender': 0, 'depa...",Na Hong-jin

In [45]:
# remove duplicates for original_title and leave the first occurence
df.drop_duplicates(subset=['original_title'], keep='first', inplace=True)

/tmp/ipykernel_7011/2027607847.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop_duplicates(subset=['original_title'], keep='first', inplace=True)

In [46]:
df[df.duplicated(['original_title'])]

Empty DataFrame
Columns: [index, budget, genres, homepage, id, keywords, original_language, original_title, overview, popularity, production_companies, production_countries, release_date, revenue, runtime, spoken_languages, status, tagline, title, vote_average, vote_count, cast, crew, director]
Index: []

[0 rows x 24 columns]

In [47]:
df3[df3.duplicated(['original_title'])]

Empty DataFrame
Columns: [original_title, overview, popularity, release_date, vote_average, vote_count, budget, keywords, production_companies]
Index: []

In [48]:
df3.shape

(280, 9)

In [49]:
pip install numpy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in /home/galo/.local/lib/python3.10/site-packages (1.25.0)
Note: you may need to restart the kernel to use updated packages.

In [50]:

import numpy as np

In [51]:
# Convert the 'keywords' column to string type in both dataframes
df['keywords'] = df['keywords'].astype(str)
df3['keywords'] = df3['keywords'].astype(str)

# Concatenate df and df3 along the rows
merged_df = pd.concat([df, df3], axis=0)

# Drop duplicates based on 'original_title' and 'keywords'
merged_df = merged_df.drop_duplicates(subset=['original_title', 'keywords'], keep='last')

# Fill missing values with NaN
merged_df = merged_df.fillna(np.nan)

/tmp/ipykernel_7011/2296515105.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['keywords'] = df['keywords'].astype(str)

In [52]:
# count how many rows in the dataset after the merge
merged_df.shape

(865, 24)

In [53]:
merged_df.columns

Index(['index', 'budget', 'genres', 'homepage', 'id', 'keywords',
       'original_language', 'original_title', 'overview', 'popularity',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title',
       'vote_average', 'vote_count', 'cast', 'crew', 'director'],
      dtype='object')

In [54]:
# drop unnecesaary columns
merged_df.drop(['index', 'genres', 'homepage', 'id', 'original_language', 'original_title', 'production_countries', 'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'cast', 'crew', 'director'], axis=1, inplace=True)

In [65]:
import re
# Replace all occurrences of '?' with NaN where there is more than one '?'
merged_df = merged_df.replace(to_replace=r'\?{2,}', value=np.nan, regex=True)

In [66]:
# create a csv file from merged_df
merged_df.to_csv('data/merged_df.csv', index=False)